{% import "scaffold/delete.html.twig" as modal %}
<div class="entity-index">
    <h1>{{ modelPlural|capitalize }}</h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="pull-right col-xs-5 table-actions">
                    <a href="{{ url(modelPlural ~ '/add') }}" class="btn btn-primary">
                        <span class="glyphicon glyphicon-plus"></span>
                        Add {{ modelSingular }}
                    </a>
                </div>

                <div class="table-search col-xs-7">
                    <form class="form-inline" role="form">
                        <div class="form-group has-feedback">
                            <label class="sr-only" for="search-pattern">Search {{ modelPlural }}</label>
                            <input type="text" class="form-control " id="search-pattern"
                                   placeholder="Search {{ modelPlural }}">
                            <span class="hidden-xs glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </form>
                </div>
                <span class="clearfix"></span>
            </div>
        </div>
        <div class="panel-body">
            {% if records|length > 0 %}
            <table class="table table-bordered table-condensed table-hover">
                <thead>
                    <tr>
                    {% for column in records[0].getPropertyList(true) %}
                        {% if loop.first  %}
                        <th>{{ column|capitalize }}</th>
                        {% else %}
                        <th class="hidden-xs">{{ column|capitalize }}</th>
                        {% endif %}
                    {% endfor %}
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in records %}
                    <tr>
                        {% for column in records[0].getPropertyList(true) %}
                            {% if loop.first  %}
                                <td>
                                    <a href="{{ url(modelPlural ~ '/show/' ~ record.getKey()) }}">
                                        {{ record.getValue(column) }}
                                        <span class="glyphicon glyphicon-share"></span>
                                    </a>
                                </td>
                            {% else %}
                                <td class="hidden-xs">{{ record.getValue(column) }}</td>
                            {% endif %}
                        {% endfor %}
                        <td>
                            <div class="data-table-actions">
                                <div class="btn-group">
                                    <a href="{{ url(modelPlural ~ '/edit/' ~ record.getKey()) }}" class="btn btn-xs btn-default">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                        Edit
                                    </a>
                                    <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="{{ url(modelPlural ~ '/show/' ~ record.getKey()) }}">
                                                <span class="glyphicon glyphicon-eye-open"></span>
                                                View {{ modelSingular }}
                                            </a>
                                        </li>
                                        <li>
                                            <button class="btn btn-link" type="button" data-target=".delete{{ record.getKey() }}" data-toggle="modal">
                                                <span class="glyphicon glyphicon-trash"></span>
                                                Delete {{ modelSingular }}
                                            </button>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                There are no {{ modelPlural }} to show up here. Click the <a href="{{ url(modelPlural ~ '/add') }}">"Add {{ modelSingular }}"</a> button to add a new {{ modelSingular }}.
            {% endif %}

        </div>
        <div class="panel-footer">
            {% include 'pagination/pagination.html.twig' %}
        </div>
    </div>
</div>
{% for record in records %}
    {{ modal.deleteMacro(
    url(modelPlural ~ '/delete/' ~ record.getKey()),
    record.getKey(),
    "delete" ~ record.getKey(),
    modelSingular
    ) }}
{% endfor %}
