{% import "scaffold/delete.html.twig" as modal %}
{% set columns = record.getPropertyList(true) %}
<div class="entity-show">
    <h1>View "{{ record }}"</h1>
    <div class="entity-data">
        <dl class="dl-horizontal">
            {% for column in columns %}
            <dt>{{ column|capitalize }}:</dt>
            <dd>{{ record.getValue(column) }}</dd>
            {% endfor %}
        </dl>
    </div>
    <div class="show-actions">
        <a href="{{ url(modelPlural ~ '/edit/' ~ record.getKey()) }}" class="btn btn-primary">
            <span class="glyphicon glyphicon-pencil"></span>
            &nbsp;Edit {{ modelSingular }}</a>

        &nbsp;
        <a href=".delete{{ record.getKey() }}" class="btn btn-warning" data-toggle="modal">
            <span class="glyphicon glyphicon-trash"></span>
            &nbsp;Delete {{ modelSingular }}
        </a>
        {{ modal.deleteMacro(
            url(modelPlural ~ '/delete/' ~ record.getKey()),
            record.getKey(),
            "delete" ~ record.getKey(),
            modelSingular
        ) }}
    </div>

    <div class="entity-related-data">

    </div>
</div>