{% if element.getInput().getRequired %}
{% set required = 'required' %}
{% endif %}

{% if element.getInput().getMessages()|length %}
    {% set invalid = ' has-error' %}
{% endif %}

<div id="{{ element.getName() }}-input-group" class="form-group {{ required }}{{ invalid }}">
    <label class="control-label" for="{{ element.getName() }}-input">{{ element.getLabel() }}
        {% if element.getInput().getRequired %}
            <span class="required-indicator">*</span>
        {% endif %}
    </label>
    <input value="{{ element.getValue() }}" name="{{ element.getName }}" id="{{ element.getName() }}-input" {{ element.getHtmlAttributes|raw }} />
    {% for message in element.getInput().getMessages() %}
    <p class="help-block"><small>{{ message }}</small></p>
    {% endfor %}
</div>