<div id="{{ element.getName() }}-input-group" class="form-group">
    <label for="{{ element.getName() }}-input">{{ element.getLabel() }}</label>
    <input name="{{ element.getName }}" id="{{ element.getName() }}-input" {{ element.getHtmlAttributes|raw }} />
</div>