{% extends "default-input.html.twig" %}

{% block inputElement %}
    <select name="{{ element.getName }}[]" id="{{ element.getName() }}-input" {{ element.getHtmlAttributes|raw }}>
        {% for key, value in element.getOptions() %}
            {% if key == element.getValue() %}
                <option selected="selected" value="{{ key }}">{{ value }}</option>
            {% else %}
                <option value="{{ key }}">{{ value }}</option>
            {% endif %}
        {% endfor %}
    </select>
{% endblock %}