{% macro deleteMacro(link, id, element, modelName)%}
    <!-- Modal -->
    <div class="modal fade {{ element }}" tabindex="-1" role="dialog" aria-labelledby="Confirmation" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{{ link }}" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">
                            <span class="glyphicon glyphicon-question-sign"></span>
                            {{ translate('Delete confirmation') }}
                        </h4>
                    </div>
                    <div class="modal-body">
                        {{ translate('Are you sure you want to delete %s #%d?')|format(modelName, id) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ translate('No, close.') }}</button>
                        <button type="submit" class="btn btn-warning">{{ translate('Yes, delete it!') }}</button>
                        <input type="hidden" name="id" value="{{ id }}" />
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endmacro %}