{% macro getActions(record, path, name) %}
<div class="data-table-actions">
    <div class="btn-group">
        <a href="{{ url(path ~ '/edit/' ~ record.getKey()) }}" class="btn btn-xs btn-default">
            <span class="glyphicon glyphicon-pencil"></span>
            {{ translate("Edit") }}
        </a>
        <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">{{ translate("Toggle Dropdown") }}</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="{{ url(path ~ '/show/' ~ record.getKey()) }}">
                    <span class="glyphicon glyphicon-eye-open"></span>
                    {{ translate("View %s")|format(name) }}
                </a>
            </li>
            <li>
                <button class="btn btn-link" type="button" data-target=".delete{{ record.getKey() }}" data-toggle="modal">
                    <span class="glyphicon glyphicon-trash"></span>
                    {{ translate("Delete %s")|format(name) }}
                </button>

            </li>
        </ul>
    </div>
</div>
{% endmacro %}

{% macro createDialog(record, path, name) %}
    {% import "template/delete.html.twig" as modal %}
    {{ modal.deleteMacro(
        url(path ~ '/delete/' ~ record.getKey()),
        record,
        "delete" ~ record.getKey(),
        name
    ) }}
{% endmacro %}