{% if pagination %}
    <ul class="pagination">
    {% if pagination.getPages > 1 %}
        {% if pagination.getCurrent == 1 %}
            <li class="disabled"><a href="#">&laquo;</a></li>
        {% else %}
            <li><a href="{{ pagination.pageUrl('1') }}">&laquo;</a></li>
        {% endif %}
        {% for page in range(1, pagination.getPages) %}
            {% if page == pagination.getCurrent %}
            <li class="active"><span>{{ page }} <span class="sr-only">(current)</span></span></li>
            {% else %}
            <li><a href="{{ pagination.pageUrl(page) }}">{{ page }}</a></li>
            {% endif %}
        {% endfor %}
        {% if pagination.getCurrent == pagination.getPages %}
            <li class="disabled"><a href="#">&raquo;</a></li>
        {% else %}
            <li><a href="{{ pagination.pageUrl(pagination.getPages) }}">&raquo;</a></li>
        {% endif %}
    {% endif %}
    </ul>
{% endif %}
