{% import "elements/table-record.actions.html.twig" as tableRecord %}
<div class="entity-show">
    <h2 class="section-header">
        View {{ record }}
    </h2>

    {% include 'scaffold/quick-links.twig' with {"page": "show"} %}

    <div class="entity panel panel-default">
        <div class="panel-body">
            <div class="entity-data">
                <dl class="dl-horizontal">
                    {% for column in descriptor.getColumns if not column.getParameter('primaryKey')%}
                    <dt>{{ column.field|capitalize }}:</dt>
                    <dd>{{ attribute(record, column.field)|wordwrap(80, '<br>')|raw|nl2br }}</dd>
                    {% endfor %}
                </dl>
            </div>
            <hr>
            <div class="show-actions">
                <a href="{{ url(basePath~'/'~modelPlural ~"/edit/" ~ attribute(record, descriptor.getPrimaryKey)) }}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-pencil"></span>
                    &nbsp;Edit {{ modelSingular }}</a>

                &nbsp;
                <a href=".delete{{ attribute(record, descriptor.getPrimaryKey) }}" class="btn btn-warning" data-toggle="modal">
                    <span class="glyphicon glyphicon-trash"></span>
                    &nbsp;Delete {{ modelSingular }}
                </a>

                {{ tableRecord.createDialog(record, basePath~'/'~modelPlural, modelSingular) }}

            </div>
        </div>
    </div>

    {% if descriptor.getRelations|length > 0 %}
    <div class="entity-related-data panel panel-default">
        <div class="panel-body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                {% for relation in descriptor.getRelations %}
                <li class="{{ loop.first ? 'active' }}">
                    {% if relation.isSingleResult %}
                    <a href="#tab-{{ descriptor.modelSingular(relation) }}" data-toggle="tab">
                        {{ descriptor.modelSingular(relation)|capitalize }}
                    </a>
                    {% else %}
                    <a href="#tab-{{ descriptor.modelPlural(relation) }}" data-toggle="tab">
                        {{ descriptor.modelPlural(relation)|capitalize }}
                    </a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                {% for relation in descriptor.getRelations %}
                    {% set object = attribute(record, relation.getPropertyName) %}
                    {% if relation.isSingleResult %}
                        <div class="tab-pane {{ loop.first ? 'active' }}" id="tab-{{ descriptor.modelSingular(relation) }}">
                            <br />
                            <div class="entity-data">
                                <dl class="dl-horizontal">
                                    {% for column in descriptor.getRelationDescriptor(relation).getColumns if not column.getParameter('primaryKey')%}
                                        <dt>{{ column.field|capitalize }}:</dt>
                                        <dd>{{ attribute(object, column.field) }}</dd>
                                    {% endfor %}
                                </dl>
                            </div>
                            <hr>
                            <div class="show-actions">
                                <a href="{{ url(descriptor.modelPlural(relation) ~"/show/" ~ attribute(object, descriptor.getRelationDescriptor(relation).getPrimaryKey)) }}" class="btn btn-default">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                    &nbsp;View {{ descriptor.modelSingular(relation) }}</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="tab-pane {{ loop.first ? 'active' }}" id="tab-{{ descriptor.modelPlural(relation) }}">
                            <br />
                            {% set records = attribute(record, relation.getPropertyName) %}
                            {% if records|length > 0 %}
                            <table class="table table-bordered table-condensed table-hover">
                                <thead>
                                <tr>
                                    {% for column in descriptor.getRelationDescriptor(relation).getColumns if not column.getParameter('primaryKey')%}
                                        {% if loop.first %}
                                            <th>
                                                {{ column.field|capitalize }}
                                            </th>
                                        {% else %}
                                            <th class="hidden-xs">
                                                {{ column.field|capitalize }}
                                            </th>
                                        {% endif %}
                                    {% endfor %}
                                    {% for relation in descriptor.getRelationDescriptor(relation).getRelations if relation.isSingleResult %}
                                        <th class="hidden-xs">
                                            {{ relation.getPropertyName|capitalize }}
                                        </th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for record in records %}
                                    <tr>
                                        {% for column in descriptor.getRelationDescriptor(relation).getColumns if not column.getParameter('primaryKey')%}
                                            {% if loop.first %}
                                                <td>
                                                    <a href="{{ url(descriptor.modelPlural(relation)~'/show/'~attribute(record, descriptor.getRelationDescriptor(relation).getPrimaryKey)) }}">
                                                        {{ attribute(record, column.field)|truncate(150, true)|wordwrap(80, '<br>')|raw }}
                                                    </a>
                                                </td>
                                            {% else %}
                                                <td class="hidden-xs">
                                                    {{ attribute(record, column.field)|truncate(150, true)|wordwrap(80, '<br>')|raw }}
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                        {% for relation in descriptor.getRelationDescriptor(relation).getRelations if relation.isSingleResult %}
                                            <td class="hidden-xs">
                                                {{ attribute(record, relation.getPropertyName)|truncate(150) }}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                                <hr>
                                <div class="show-actions">
                                    <a href="{{ url(descriptor.modelPlural(relation)) }}" class="btn btn-default">
                                        <span class="glyphicon glyphicon-list-alt"></span>
                                        &nbsp;Manage {{ descriptor.modelPlural(relation) }}</a>
                                    &nbsp;
                                </div>
                            {% else %}
                                There are no {{ descriptor.modelPlural(relation) }} to show up here.
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
</div>