<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ basePath }}/favicon.ico">

    <title>Sticky Footer Navbar Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ addCss('bootstrap.min.css') }}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="{{ addJs('ie8-responsive-file-warning.js') }}"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- Begin page content -->
<div class="container">
    <br />&nbsp;
    <div class="panel panel-danger">
        <div class="panel-heading   ">
            {{ exceptionDetails.getExceptionName }}
        </div>
        <div class="panel-body">
            {{ exception.getMessage() }}
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading   ">
            Stack trace
        </div>
        <div class="panel-body">
<pre>
            {{- exceptionDetails.getStackTrace|raw }}
            </pre>
        </div>
    </div>
    <hr>
    <footer>
        <p class="made-with-slick text-muted"><small>Slick {{ slickVersion }}</small></p>
    </footer>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ addJs('jquery.min.js') }}"></script>
<script src="{{ addJs('bootstrap.min.js') }}"></script>
</body>
</html>
